@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
	background: #eee;
}

.wrap {
	max-width: 480px;
	min-height: 100vh;
	margin: 0 auto;
	position: relative;
	background: #333;
}

.logo {
	text-align: center;
	font-family: 'Fredoka One', cursive;
	background: #000;
	color: #fff;
	line-height: 2;
}

#messages {
	padding: 0 0 50px;
	list-style-type: none;
}

#messages li {
	width: 90%;
	margin: 10px auto;
	padding: 10px;
	background: #fff;
	border-radius: 10px;
	overflow-wrap: break-word;
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
}

.footer-inner {
	background: #000;
	max-width: 480px;
	text-align: center;
	padding: 15px 0;
}

#message {
	line-height: 40px;
}
